.specilization-container {
  /* width: 100%; */
  height: auto;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  margin-top: 30px;
  padding: 20px 60px;
}
.specilization-container .text-div h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #1b3c74;
}
.specilization-container .images-div {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  column-gap: 20px;
}
.specilization-container .images-div div {
  width: 270px;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0px 34px 44px 0px #d5dbe470;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.specilization-container .images-div div p {
  font-size: 18px;
  font-weight: 500;
  color: #abb6c7;
}
.specilization-container .button-div {
  text-align: center;
  margin-top: 30px;
}
