.top-component {
  height: 40px;
  background-color: #2aa7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.top-component p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin: 0px;
}
