.search-component {
  max-width: 1170px;
  height: auto;
  padding: 40px;
  position: absolute;
  top: 80%;
  z-index: 999;
  box-shadow: 6px 6px 35px 0px #1028511c;
  background-color: #ffffff;
  left: 15%;
  border-radius: 15px;
}
.search-component .search-top .form-section div {
  width: 285px !important;
  height: 50px !important;
  border: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}
.search-component .search-top .form-section div input {
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
}
.search-component .search-top .form-section span img svg {
  color: black;
}
.search-component .search-top .form-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-component .search-top .form-section .search-button {
  width: 121px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.search-component .search-top .form-section button img {
  color: #fff;
}
.search-middle {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #102851;
}
.search-bottom div {
  width: 203px;
  height: 153px;
  border-radius: 8px;
  background-color: #fafbfe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-bottom div p {
  font-weight: 400;
  font-size: 18px;
  color: #abb6c7;
}
.search-bottom {
  display: flex;
  justify-content: space-around;
}
.search-bottom > :nth-child(3) {
  border: 1px solid #2aa7ff;
  background: #2aa7ff14;
}
.search-bottom > :nth-child(3) p {
  color: #2aa7ff;
  font-weight: 600;
}
.states-component {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  overflow-y: scroll;
  display: block;
  position: absolute;
  z-index: 9999;
  left: 320px;
  top: 650px;
  background-color: rgb(189, 233, 249);
  padding: 10px;
  border-radius: 10px;
}
.states-component p {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.city-component {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  overflow-y: scroll;
  /* display: block; */
  position: absolute;
  z-index: 9999;
  left: 720px;
  top: 650px;
  background-color: rgb(180, 233, 249);
  padding: 10px;
  border-radius: 10px;
}
.city-component p {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.search-button {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .search-component {
    max-width: 80%;
    top: 120%;
    left: 10%;
  }
}
