.button {
  width: 171px;
  height: 48px;
  background-color: #2aa8ff;
  padding: 12px, 36px, 12px, 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #fff;
}

.time-button {
  width: 84px;
  height: 31px;
  border: 1px solid #2aa7ff;
  border-radius: 3px;
  color: #2aa7ff;
  background-color: transparent;
}
